%section.row
  .span6
    %p
      Git Plugged is a weekly contest for the coolest
      %a{ href: "https://github.com/" } GitHub
      repositories.
  .span6
    .well
      %h2 Last week's winner

    #winners.row

.page-header
  %h2 This week's contest

%form#search
  %label{ for: "search-input" } Type a GitHub repository to nominate for this week's contest
  %input#search-input{ type: "text", placeholder: "e.g. rails/rails" }
  %span.help-inline

%section#repos

- content_for :javascript do
  :javascript
    $(function () {
      gp.loggedIn = #{logged_in?};

      gp.app = new gp.Application({
        winners: #{raw @winners.to_json},
        repos: #{raw @repos.to_json},
      });
    });
