<div class="page-header">
  <h2>Repositories in the running...</h2>
</div>

<form>
  <label for="search">Begin typing a GitHub username/repository to vote</label>
  <input type="text" placeholder="e.g. rails/rails" />
</form>
