<div class="page-header">
  <h2>Previous winners</h2>
</div>

<div id="winners"></div>

<div class="page-header">
  <h2>Repositories in the running this week</h2>
</div>

<form id="search">
  <label for="search-input">Begin typing a GitHub username/repository to vote</label>
  <input id="search-input" type="text" placeholder="e.g. rails/rails" />
</form>

<div id="repos"></div>

<% content_for :javascript do %>
  <script>
    GP.winners = <%= @winners.to_json.html_safe %>;
    GP.repos = <%= @repos.to_json.html_safe %>;
  </script>
<% end %>
