<div class="repo clearfix">
  <span class="name"><a href="https://github.com/<%= name %>"><%= name %></a></span>
  <span class="vote_sum"><%= parseInt(vote_sum) %> points</span>
  <button>Endorse</button>
</div>
