<div class="winner span4">
  <div class="winner-inner">
    <span><img src="http://forum.permessa.com/images/ranks/gold-star.gif" alt="LOL WE STOLE THIS"> <a href="https://github.com/<%= name %>"><%= name %></a><span><br />
    <span>Finished with <%= parseInt(vote_sum) %> points</span>
  </div>
</div>
