@import "bootstrap";

body {
  padding-top: 60px;
}

.repo {
  background-color: $grayLighter;
  border-radius: 6px;
  line-height: 28px;
  margin-bottom: 10px;
  padding: 10px;
}

.repo .name {
  font-weight: bold;
}

.repo button,
.repo .requires-login {
  float: right;
}


.help-inline {
  font-weight: bold;
  color: $blue;
}

.winner {
  background-color: $grayLighter;
  border-radius: 6px;
}

.winner-inner {
  padding: 10px;
}

.winner-inner a {
  vertical-align: middle;
}

.winner-inner img {
  vertical-align: middle;
}

.help-inline.error {
  color: $red;
}

#winners {
  margin-bottom: 80px;
}
