%footer
  %hr
  %p &copy; #{Time.new.year} <a href="http://jimmycuadra.com/">Jimmy Cuadra</a>. All rights reserved.
  %p Git Plugged is open source, available at <a href="https://github.com/jimmycuadra/gitplugged.com">jimmycuadra/gitplugged.com</a>.
