<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" "/">Git Plugged</a>
      <div class="pull-right">
        <ul class="nav">
          <% if logged_in? %>
            <li class="navbar-text">Hi, <%= current_user.name %></li>
            <li><%= link_to "Log out", logout_url %></li>
          <% else %>
            <li><%= link_to image_tag("sign-in-with-twitter-l.png"), "/auth/twitter" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
